*
{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(mountain.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.upper{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-decoration-style: wavy;
    color: white;
    
}
h1{color:orangered;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
    color: yellow;
    font-size: 40px;
    letter-spacing: 8px;
}
hr{
    margin: 30px;

}